fastapi
httpx[socks]
openai
pydantic
pydantic_settings
requests
starlette<1.0.0
uvicorn
google-genai
jinja2
python-multipart
cryptography
pymysql
sqlalchemy
aiomysql
aiosqlite
databases
python-dotenv
apscheduler
packaging
